<ion-header no-border>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Forms
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="showSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="contact"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <!-- Searchbar in a Toolbar -->
  <ion-toolbar *ngIf="search" color="light">
    <ion-searchbar animated placeholder="Buscar" mode="ios"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let card of cards" size="12" size-sm="3">
        <ion-card mode="ios">
          <ion-card-header>
            <ion-card-subtitle>{{card.subtitle}}</ion-card-subtitle>
            <ion-card-title>{{card.title}}</ion-card-title>        
          </ion-card-header>
          <ion-card-content>
            <ion-button fill="clear" color="primary">
              <ion-icon name="create"></ion-icon>
            </ion-button>
            <ion-button fill="clear" color="secondary">
              <ion-icon name="stats"></ion-icon>
            </ion-button>
            <ion-button fill="clear" color="danger">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
